includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - config
        - routes
        - resources
        - routes

    # The level 8 is the highest level
    level: 8

    ignoreErrors:
        - '#Cannot access property .* on App\\Models\\User\|null#'
        - '#Cannot call method .*\(\) on App\\Models\\User\|null#'
        - '#Cannot call method name\(\) on array|Illuminate\Routing\Route#'
        - '#Unsafe usage of new static#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
